In [2]:
import pandas as pd
import preprocessor as p

In [5]:
encoded_label_dict = {"negative" : 0, "positive" : 1}
def encode_label(x):
    return encoded_label_dict.get(x,-1)

In [5]:
fp = "../../data/imdb/IMDB Dataset.csv"
df = pd.read_csv(fp)

In [6]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [7]:
df["target"] = df["sentiment"].apply(lambda x: encode_label(x))

In [5]:
def preprocess(txt):
    return p.clean(txt)

In [9]:
df["clean_review"] = df["review"].apply(lambda x: preprocess(x))

In [10]:
df.head()

,review,sentiment,target,clean_review
0,One of the other reviewers has mentioned that ...,positive,1,One of the other reviewers has mentioned that ...
1,A wonderful little production. <br /><br />The...,positive,1,A wonderful little production. <br /><br />The...
2,I thought this was a wonderful way to spend ti...,positive,1,I thought this was a wonderful way to spend ti...
3,Basically there's a family where a little boy ...,negative,0,Basically there's a family where a little boy ...
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,1,"Petter Mattei's ""Love in the Time of Money"" is..."

In [11]:
df.target.value_counts()

1    25000
0    25000
Name: target, dtype: int64

In [ ]:
df.to_csv("../../data/imdb/imdb_preprocessed_reviews.csv",index=None)